#Variables and Data Types in Python

![](https://i.imgur.com/6cg2E9Q.png)

# Storing information using  multi - variables

In [1]:
my_favorite_color = "blue"

In [2]:
# You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

color1, color2, color3 = "red", "green", "blue"

print(color1)
print(color2)
print(color3)

print('-'*20)
#You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.
# when you assign a new value to the variable, the old value is lost and no longer accessible.

color3 = color5 = color6 = "magenta"

print(color3)

red
green
blue
--------------------
magenta

In [3]:
# While reassigning a variable, you can also use the variable's previous value to compute the new value.
counter = 10
counter = counter + 1
print(counter)

#The pattern var = var op something (where op is an arithmetic operator like +, -, *, /) is very common, so Python provides a shorthand syntax for it.
counter = 10
# Same as `counter = counter + 4`
counter += 4
print(counter)

11
14

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [4]:
# some variables
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

In [5]:
print(a_variable)
type(a_variable)

23

int

In [6]:
print(is_today_Saturday)
type(is_today_Saturday)

False

bool

In [7]:
print(my_favorite_car)
type(my_favorite_car)

Delorean

str

In [8]:
print(the_3_musketeers)
type(the_3_musketeers)

['Athos', 'Porthos', 'Aramis']

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

#primitive data types

# Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [9]:
current_year = 2020
type(current_year)

int

In [10]:
a_large_negative_number = -23374038374832934334234317348343
type(a_large_negative_number)

int

# Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [11]:
pi = 3.141592653589793238
type(pi)

float

In [12]:
#A whole number is treated as a float if written with a decimal point, even though the decimal portion of the number is zero.
a_number = 3.0
type(a_number)

float

In [13]:
another_number = 4.
type(another_number)

float

In [14]:
# Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

one_hundredth = 1e-2
print(one_hundredth)
print(type(one_hundredth))

pt = 1e+2
print(pt)
print(type(pt))

0.01
<class 'float'>
100.0
<class 'float'>

In [15]:
avogadro_number = 6.02214076e23
print(avogadro_number)
type(avogadro_number)

6.02214076e+23

float

In [16]:
# convert floats into integers and vice versa using the float and int functions.
# The operation of converting one type of value into another is called casting.
print(float(current_year))

print(int(pi))

int(avogadro_number)

2020.0
3

602214075999999987023872

In [17]:
#While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. 
#Also, the division operator `/` always returns a `float`, even if both operands are integers.
# Use the `//` operator if you want the result of the division to be an `int`.
print(type(45 * 3.0))

print(type(45 * 3))

print(type(10/3))

print(type(10//2))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>

# Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [18]:
is_today_Sunday = True
type(is_today_Sunday)

bool

In [19]:
#Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

print(is_ice_bag_expensive)

type(is_ice_bag_expensive)

False

bool

In [20]:
# Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

print(5 + False)

print(3. + True)

5
4.0

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [21]:
print(bool(False))

print(bool(0))

print(bool(None))

print(bool(""))

print(bool([]))

print(bool(()))

print(bool({}))

print(bool(set()))

print(bool(range(0)))

print(bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10)))

False
False
False
False
False
False
False
False
False
True True True True True True True

# None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [22]:
nothing = None
type(nothing)

NoneType

# String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [23]:
today = "Saturday"
print(type(today))

<class 'str'>

In [24]:
#You can use single quotes inside a string written with double quotes, and vice versa.
my_favorite_movie = "One Flew over the Cuckoo's Nest"
print(my_favorite_movie)

# use '\' then it considers the preciding single quote
my_favorite_movie = 'One Flew over the Cuckoo\'s Nest'
print(my_favorite_movie)

another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."
print(another_pun)

print('-'*50)
#Strings created using single or double quotes must begin and end on the same line. 
#To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. 
#Line breaks are represented using the newline character `\n`.

yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''

print(yet_another_pun)
yet_another_pun # check the difference

One Flew over the Cuckoo's Nest
One Flew over the Cuckoo's Nest
The first time I got a universal remote control, I thought to myself "This changes everything".
--------------------------------------------------
Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

'Son: "Dad, can you tell me what a solar eclipse is?" \nDad: "No sun."'

In [25]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

print(a_music_pun)

#check the length of a string using the len function.

print(len(a_music_pun))

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

141

In [26]:
#Note that special characters like `\n` and escaped characters like `\"` count as a single character, 
#even though they are written and sometimes printed as two characters.
multiline_string = """a
b"""
print(len(multiline_string))
print(len(multiline_string))
#A string can be converted into a list of characters using `list` function.
list(multiline_string)

3
3

['a', '\n', 'b']

Strings also support several list operations, which are discussed in the next section.

You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [27]:
today = "Saturday"
print(today[0])

print(today[7])

#You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.
print(today[5:7])
print(today[5:8])

print('-'*50)
#You can also check whether a string contains a some text using the `in` operator. 
print('day' in today)
print('Sun' in today)

#Two or more strings can be joined or *concatenated* using the `+` operator. Be careful while concatenating strings, 
#sometimes you may need to add a space character `" "` between words.
full_name = "Derek O'Brien"

greeting = "Hello"

print(greeting + full_name)
print(greeting + " " + full_name + "!")  # additional space

S
y
da
day
--------------------------------------------------
True
False
HelloDerek O'Brien
Hello Derek O'Brien!

Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [28]:
print(today.lower())
print("saturday".upper())
print("monday".capitalize()) # changes first character to uppercase

saturday
SATURDAY
Monday

In [29]:
#The `.replace` method replaces a part of the string with another string. 
#It takes the portion to be replaced and the replacement text as *inputs* or *arguments*.
another_day = today.replace("Satur", "Wednes")
print(another_day)

#Note that `replace` returns a new string, and the original string is not modified.
print(today)

#Note that `replace` returns a new string, and the original string is not modified.

print("Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(","))

#The `.strip` method removes whitespace characters from the beginning and end of a string.
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "
a_long_line_stripped = a_long_line.strip()
print(a_long_line_stripped)

Wednesday
Saturday
['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
This is a long line with some space before, after,     and some space in the middle..

In [30]:
#get rid of all the duplicate whitespaces and newline characters
print(" ".join(a_long_line.split()) )

#function
def remove(string):
    return " ".join(string.split())
      # Driver Program
string = ' g e e k '
print(remove(a_long_line_stripped))

#using regular expression
import re
re.sub(' +', ' ',a_long_line_stripped)

This is a long line with some space before, after, and some space in the middle..
This is a long line with some space before, after, and some space in the middle..

'This is a long line with some space before, after, and some space in the middle..'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [31]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)
print('-'*100)
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.
----------------------------------------------------------------------------------------------------
If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible to use the string concatenation operator `+` to combine strings with other values. However, those values must first be converted to strings using the `str` function.

In [33]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

TypeError: ignored

In [34]:
#You can `str` to convert a value of any data type into a string.
print(str(23))

print(str(23.45))

print(str(True))

the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

23
23.45
True

"['Athos', 'Porthos', 'Aramis']"

Note that all string methods return new values and DO NOT change the existing string.

In [35]:
#Strings also support the comparison operators `==` and `!=` for checking whether two strings are equal.
first_name = "John"
print(first_name == "Doe")
print(first_name == "John")
print(first_name != "Jane")

False
True
True

#non-primitive data structures, also known as containers

### List

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

In [36]:
fruits = ['apple', 'banana', 'cherry']
print(type(fruits))

#creating a list containing values of different data types, including another list.
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

print(a_list)

#creating a empty list
empty_list = []
print(empty_list)

#To determine the number of values in a list, use the `len` function. 
#You can use `len`  to determine the number of values in several other data types.
print("Number of fruits:", len(fruits))

print(len(a_list))


print(len(empty_list))

<class 'list'>
[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]
[]
Number of fruits: 3
6
0

In [37]:
#You can access an element from the list using its *index*, e.g., `fruits[2]` returns the element at index 2 within the list `fruits`.
# The starting index of a list is 0.

print(fruits[0])

#use negative indices to access elements from the end of a list, e.g., fruits[-1] returns the last element,
# fruits[-2] returns the second last element, and so on.
print(fruits[-1])
#print(fruits[-4])


#If you try to access an index equal to or higher than the length of the list, Python returns an IndexError.
#print(fruits[3])

apple
cherry

In [38]:
#You can also access a range of values from the list. The result is itself a list. Let us look at some examples.
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
print(len(a_list))
print(a_list[2:5])

6
[None, 3.14, ['apple', 'banana', 'cherry']]

Note that the range `2:5` includes the element at the start index `2` but does not include the element at the end index `5`. So, the result has 3 values (index `2`, `3`, and `4`).

Here are some experiments you should try out (use the empty cells below):

* Try setting one or both indices of the range are larger than the size of the list, e.g., `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index, e.g., `a_list[12:10]`
* Try leaving out the start or end index of a range, e.g., `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range, e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

>

In [39]:
print(a_list)

print(a_list[2:10])

print(a_list[2:])

print(a_list[-5:-2])

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]
[None, 3.14, ['apple', 'banana', 'cherry'], True]
[None, 3.14, ['apple', 'banana', 'cherry'], True]
['hello', None, 3.14]

In [40]:
#You can also change the value at a specific index within a list using the assignment operation.
print(fruits)

fruits[1] = 'blueberry'
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'blueberry', 'cherry']

In [41]:
#A new value can be added to the end of a list using the `append` method.
print(fruits)

fruits.append('dates')
fruits

['apple', 'blueberry', 'cherry']

['apple', 'blueberry', 'cherry', 'dates']

In [42]:
#A new value can also be inserted at a specific index using the `insert` method.
print(fruits)

fruits.insert(1, 'banana')
fruits

['apple', 'blueberry', 'cherry', 'dates']

['apple', 'banana', 'blueberry', 'cherry', 'dates']

In [43]:
#You can remove a value from a list using the `remove` method. it can only be run once after that it removes the item.
print(fruits)
fruits.remove('blueberry')
print(fruits)


#list has multiple instances of the value passed to remove? 
new_list = [e for e in fruits if e not in ('apple', 'banana')]
print(new_list)

unwanted = {'cherry', 'dates'}
item_list = [e for e in new_list if e not in unwanted]
print(item_list)

['apple', 'banana', 'blueberry', 'cherry', 'dates']
['apple', 'banana', 'cherry', 'dates']
['cherry', 'dates']
[]

In [44]:
#To remove an element from a specific index, use the `pop` method. The method also returns the removed element.
print(fruits)
fruits.pop(1)
print(fruits)

#If no index is provided, the `pop` method removes the last element of the list.
fruits.pop()
print(fruits)

['apple', 'banana', 'cherry', 'dates']
['apple', 'cherry', 'dates']
['apple', 'cherry']

In [45]:
#You can test whether a list contains a value using the `in` operator.
print('pineapple' in fruits)
print('apple' in fruits)

False
True

In [46]:
#To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.
print(fruits)
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']
print(more_fruits)

['apple', 'cherry']
['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [47]:
#To create a copy of a list, use the `copy` method. Modifying the copied list does not affect the original.
more_fruits_copy = more_fruits.copy()
print(more_fruits_copy)

# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
print(more_fruits_copy)

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']
['apple', 'cherry', 'tomato', 'guava', 'dates']

In [48]:
# Original list remains unchanged
print(more_fruits)

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. The new variable will point to the same list, and any modifications performed using either variable will affect the other.

In [49]:
more_fruits_not_a_copy = more_fruits
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

print(more_fruits_not_a_copy)
print(more_fruits)

['apple', 'cherry', 'tomato', 'guava', 'dates']
['apple', 'cherry', 'tomato', 'guava', 'dates']

Questions to solve:

* Reverse the order of elements in a list
* Add the elements of one list at the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

In [50]:
print(more_fruits)
more_fruits.reverse()
print(more_fruits)


#Note: reverse() returns None
print(more_fruits.reverse())


#Note: returns not a list - use reversed function
org_list = reversed(more_fruits)
print(org_list)

new_org_list = list(reversed(more_fruits))
print(new_org_list)

['apple', 'cherry', 'tomato', 'guava', 'dates']
['dates', 'guava', 'tomato', 'cherry', 'apple']
None
<list_reverseiterator object at 0x7f898e0bc890>
['dates', 'guava', 'tomato', 'cherry', 'apple']

In [51]:
#append works for strings 
my_list = ['geeks', 'for']
my_list.append('geeks')
print(my_list)
my_list.extend('geeks')
print(my_list)

#NOTE: A list is an object. If you append another list onto a list, the parameter list will be a single object at the end of the list.
my_list = ['geeks', 'for', 'geeks']
another_list = [6, 0, 4, 1]
my_list.append(another_list)
print(my_list)


#NoTe: check how to store new list values after extending it.
my_list.extend(another_list)
new_list = list(my_list)
print(new_list)

['geeks', 'for', 'geeks']
['geeks', 'for', 'geeks', 'g', 'e', 'e', 'k', 's']
['geeks', 'for', 'geeks', [6, 0, 4, 1]]
['geeks', 'for', 'geeks', [6, 0, 4, 1], 6, 0, 4, 1]

In [52]:
fruits = ['apple', 'banana', 'cherry', 'tomato','dates', 'guava']
print(fruits)
fruits.sort()
print(fruits)

#print(fruits.sort())
#Note: returns not a list - use sorted function
new_org_list = list(sorted(fruits))
print(new_org_list)

['apple', 'banana', 'cherry', 'tomato', 'dates', 'guava']
['apple', 'banana', 'cherry', 'dates', 'guava', 'tomato']
['apple', 'banana', 'cherry', 'dates', 'guava', 'tomato']

In [53]:
lst = ['23', '33', '11', '7', '55']
  
# Using sort() function with key as int
lst.sort(key = int)
  
print(lst)

['7', '11', '23', '33', '55']

In [54]:
fruits = ['apple', 'banana', 'cherry', 'tomato','dates', 'guava']
print(fruits)

# Using sort() function
fruits.sort(reverse = True)
  
print(fruits)

['apple', 'banana', 'cherry', 'tomato', 'dates', 'guava']
['tomato', 'guava', 'dates', 'cherry', 'banana', 'apple']

# Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

In [55]:
fruits = ('apple', 'cherry', 'dates')
print(fruits)
print(len(fruits))
# check if it contains an element
print('dates' in fruits)

('apple', 'cherry', 'dates')
3
True

In [58]:
# try to change an element
fruits[0] = 'avocado'

# try to append an element
fruits.append('blueberry')

# try to remove an element
fruits.remove('apple')

TypeError: ignored

In [59]:
#You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma-separated values into a tuple.
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'
print(the_3_musketeers)

#You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.
single_element_tuple = 4,
print(single_element_tuple)
print(type(single_element_tuple))

not_a_tuple = (4)
print(not_a_tuple)
print(type(not_a_tuple))

#Tuples are often used to create multiple variables with a single statement.
point = (3, 4)
print(type(point))
point_x, point_y = point

print(point_x)
print(point_y)

('Athos', 'Porthos', 'Aramis')
(4,)
<class 'tuple'>
4
<class 'int'>
<class 'tuple'>
3
4

In [60]:
#You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function
tuple_eg = tuple(['one', 'two', 'three'])
print(tuple_eg)
print(type(tuple_eg))

list_eg = list(('Athos', 'Porthos', 'Aramis'))
print(list_eg)
print(type(list_eg))

('one', 'two', 'three')
<class 'tuple'>
['Athos', 'Porthos', 'Aramis']
<class 'list'>

In [61]:
#Tuples have just two built-in methods: `count` and `index`. 
#Can you figure out what they do? While you look could look for documentation and examples online, 
#there's an easier way to check a method's documentation, using the `help` function.

a_tuple = 23, "hello", False, None, 23, 37, "hello"
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [62]:
#start a code cell with `?` and type the name of a function or method. When you execute this cell, you will see the function/method's documentation in a pop-up window.
?a_tuple.index

# Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

In [63]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

print(person1)
print(type(person1))

#Dictionaries can also be created using the dict function.
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

print(person2)
print(type(person2))

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}
<class 'dict'>
{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}
<class 'dict'>

In [64]:
#Keys can be used to access values using square brackets [ and ].
print(person1['name'])

print(person1['married'])

print(person2['name'])


#If a key isn't present in the dictionary, then a KeyError is thrown.
#print(person1['address'])

#You can also use the `get` method to access the value associated with a key.
print(person1.get('name'))

#The `get` method also accepts a default value, returned if the key is not present in the dictionary.
print(person2.get("address"))

John Doe
True
Jane Judy
John Doe
None

In [65]:
#You can check whether a key is present in a dictionary using the `in` operator.
print('name' in person1)
print('address' in person1)
print('-'*50)
#You can change the value associated with a key using the assignment operator.

print(person2['married'])

person2['married'] = True

print(person2['married'])
print(person2)

True
False
--------------------------------------------------
False
True
{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': True}

In [66]:
#The assignment operator can also be used to add new key-value pairs to the dictionary.
print(person1)
person1['address'] = '1, Penny Lane'
print(person1)

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}
{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True, 'address': '1, Penny Lane'}

In [67]:
#To remove a key and the associated value from a dictionary, use the `pop` method.
person1.pop('address')
print(person1)

#Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.
print("keys:",person1.keys())
print("values:",person1.values())
print("itmes:",person1.items())

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}
keys: dict_keys(['name', 'sex', 'age', 'married'])
values: dict_values(['John Doe', 'Male', 32, True])
itmes: dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

In [68]:
person1.items()[1]
#The results of `keys`, `values`, and `items` look like lists. However, they don't support the indexing operator `[]` for retrieving elements. 
#Can you figure out how to access an element at a specific index from these results? Try it below. *Hint: Use the `list` function*

TypeError: ignored

Questions to solve:

* What happens if you use the same key multiple times while creating a dictionary?
* How can you create a copy of a dictionary (modifying the copy should not change the original)?
* Can the value associated with a key itself be a dictionary?
* How can you add the key-value pairs from one dictionary into another dictionary? Hint: See the `update` method.
* Can the dictionary's keys be something other than a string, e.g., a number, boolean, list, etc.?

In [69]:
dictionary = {"key_1": "value_1", "key_1": "value_2", "key_2": "value_2"}
print(dictionary) 

#No, each key in a dictionary should be unique. You can't have two keys with the same value. 
#Attempting to use the same key again will just overwrite the previous value stored. If a key needs to store multiple values, 
#then the value associated with the key should be a list or another dictionary

{'key_1': 'value_2', 'key_2': 'value_2'}

In [74]:
# Python program to demonstrate working
# of dictionary copy
original = {1:'geeks', 2:'for'}
  
# copying using copy() function
new = original.copy()
# removing all elements from the list
# Only new list becomes empty as copy()
# does shallow copy.
new.clear()
print('new: ', new)
print('original: ', original)

new:  {}
original:  {1: 'geeks', 2: 'for'}

In [75]:
# Python program to demonstrate difference
# between = and copy()
original = {1:'geeks', 2:'for'}
  
# copying using copy() function
new = original.copy()
  
# removing all elements from new list
# and printing both
new.clear()
print('new: ', new)
print('original: ', original)
  
original = {1:'one', 2:'two'}
  
# copying using =
new = original
  
# removing all elements from new list
# and printing both
new.clear()
print('new: ', new)
print('original: ', original)

new:  {}
original:  {1: 'geeks', 2: 'for'}
new:  {}
original:  {}

In [70]:
# Creating a Nested Dictionary
# as shown in the below image
Dict = {1: 'Geeks', 2: 'For',
        3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}}
 
print(Dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [71]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Adding set of values
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)

# Adding Nested Key value to Dictionary
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

In [72]:
# Python program to show working
# of update() method in Dictionary
  
# Dictionary with three items 
Dictionary1 = { 'A': 'Geeks', 'B': 'For', }
Dictionary2 = { 'B': 'Geeks' }
  
# Dictionary before Updation
print("Original Dictionary:")
print(Dictionary1)
  
# update the value of key 'B'
Dictionary1.update(Dictionary2)
print("Dictionary after updation:")
print(Dictionary1)


print('-'*100)

# Python program to show working
# of update() method in Dictionary
  
# Dictionary with single item 
Dictionary1 = { 'A': 'Geeks'}
  
# Dictionary before Updation
print("Original Dictionary:")
print(Dictionary1)
  
# update the Dictionary with iterable
Dictionary1.update(B = 'For', C = 'Geeks')
print("Dictionary after updation:")
print(Dictionary1)

Original Dictionary:
{'A': 'Geeks', 'B': 'For'}
Dictionary after updation:
{'A': 'Geeks', 'B': 'Geeks'}
----------------------------------------------------------------------------------------------------
Original Dictionary:
{'A': 'Geeks'}
Dictionary after updation:
{'A': 'Geeks', 'B': 'For', 'C': 'Geeks'}