# Reading from and Writing to Files using Python

![](https://i.imgur.com/rv8wZ7l.png)

## Interacting with the OS and filesystem

The `os` module in Python provides many functions for interacting with the OS and the filesystem. Let's import it and try out some examples.

In [1]:
import os

In [2]:
#We can check the present working directory using the `os.getcwd` function.
os.getcwd()

'/content'

In [3]:
#To get the list of files in a directory, use `os.listdir`. You pass an absolute or relative path of a directory as the argument to the function.
help(os.listdir)

Help on built-in function listdir in module posix:

listdir(path=None)
    Return a list containing the names of the files in the directory.

    path can be specified as either str, bytes, or a path-like object.  If path is bytes,
      the filenames returned will also be bytes; in all other circumstances
      the filenames returned will be str.
    If path is None, uses the path='.'.
    On some platforms, path may also be specified as an open file descriptor;\
      the file descriptor must refer to a directory.
      If this functionality is unavailable, using it raises NotImplementedError.

    The list is in arbitrary order.  It does not include the special
    entries '.' and '..' even if they are present in the directory.

In [4]:
os.listdir('.') # relative path

['.config', 'sample_data']

In [5]:
os.listdir('/usr') # absolute path

['local',
 'lib',
 'bin',
 'share',
 'src',
 'games',
 'include',
 'sbin',
 'grte',
 'lib32']

In [6]:
#You can create a new directory using `os.makedirs`. 
#Let's create a new directory called `data`, where we'll later download some files.

os.makedirs('./data', exist_ok=True)

In [7]:
#verify that the directory was created and is currently empty.
'data' in os.listdir('.')

os.listdir('./data')

[]

In [8]:
#Let us download some files into the `data` directory using the `urllib` module.
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [9]:
from urllib.request import urlretrieve
urlretrieve(url1, './data/loans1.txt')
urlretrieve(url2, './data/loans2.txt')
urlretrieve(url3, './data/loans3.txt')

('./data/loans3.txt', <http.client.HTTPMessage at 0x7fb990d78b90>)

In [10]:
#Let's verify that the files were downloaded
os.listdir('./data')

['loans3.txt', 'loans2.txt', 'loans1.txt']

You can also use the [`requests`](https://docs.python-requests.org/en/master/) library to dowload URLs, although you'll need to [write some additional code](https://stackoverflow.com/questions/44699682/how-to-save-a-file-downloaded-from-requests-to-another-directory) to save the contents of the page to a file.

## Reading from a file 

To read the contents of a file, we first need to open the file using the built-in `open` function. The `open` function returns a file object and provides several methods for interacting with the file's contents.

In [11]:
file1 = open('./data/loans1.txt', mode='r')

The `open` function also accepts a `mode` argument to specifies how we can interact with the file. The following options are supported:

```
    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    'U'       universal newline mode (deprecated)
    ========= ===============================================================
```

To view the contents of the file, we can use the `read` method of the file object.

In [12]:
file1_contents = file1.read()
print(file1_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

The file contains information about loans. It is a set of comma-separated values (CSV). 

> **CSVs**: A comma-separated values (CSV) file is a delimited text file that uses a comma to separate values. Each line of the file is a data record. Each record consists of one or more fields, separated by commas. A CSV file typically stores tabular data (numbers and text) in plain text, in which case each line will have the same number of fields. (Wikipedia)

The first line of the file is the header, indicating what each of the numbers on the remaining lines represents. Each of the remaining lines provides information about a loan. Thus, the second line `10000,36,0.08,20000` represents a loan with:

* an *amount* of `$10000`, 
* *duration* of `36` months, 
* *rate of interest* of `8%` per annum, and 
* a down payment of `$20000`

The CSV is a standard file format used for sharing data for analysis and visualization. Over the course of this tutorial, we will read the data from these CSV files, process it, and write the results back to files. Before we continue, let's close the file using the `close` method (otherwise, Python will continue to hold the entire file in the RAM)

In [13]:
file1.close()

In [14]:
#Once a file is closed, you can no longer read from it.
file1.read()

ValueError: ignored

## Closing files automatically using `with`

To close a file automatically after you've processed it, you can open it using the `with` statement.

In [15]:
with open('./data/loans2.txt') as file2:
    file2_contents = file2.read()
    print(file2_contents)

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [16]:
#Once the statements within the `with` block are executed, the `.close` method on `file2` is automatically invoked. 
#Let's verify this by trying to read from the file object again.
file2.read()

ValueError: ignored

## Reading a file line by line


File objects provide a `readlines` method to read a file line-by-line.

In [23]:
with open('./data/loans3.txt', 'r') as file3:
    file3_lines = file3.readlines()

file3_lines

['amount,duration,rate,down_payment\n',
 '45230,48,0.07,4300\n',
 '883000,16,0.14,\n',
 '100000,12,0.1,\n',
 '728400,120,0.12,100000\n',
 '3637400,240,0.06,\n',
 '82900,90,0.07,8900\n',
 '316000,16,0.13,\n',
 '15230,48,0.08,4300\n',
 '991360,99,0.08,\n',
 '323000,27,0.09,4720010000,36,0.08,20000\n',
 '528400,120,0.11,100000\n',
 '8633400,240,0.06,\n',
 '12900,90,0.08,8900']

## Processing data from files

Before performing any operations on the data stored in a file, we need to convert the file's contents from one large string into Python data types. For the file `loans1.txt` containing information about loans in a CSV format, we can do the following:

* Read the file line by line
* Parse the first line to get a list of the column names or headers
* Split each remaining line and convert each value into a float
* Create a dictionary for each loan using the headers as keys
* Create a list of dictionaries to keep track of all the loans

Since we will perform the same operations for multiple files, it would be useful to define a function `read_csv`. We'll also define some helper functions to build up the functionality step by step. 

Let's start by defining a function `parse_header` that takes a line as input and returns a list of column headers.

In [24]:
def parse_headers(header_line):
    return header_line.strip().split(',')

The strip method removes any extra spaces and the newline character \n. The split method breaks a string into a list using the given separator (, in this case).

In [25]:
file3_lines[0]

'amount,duration,rate,down_payment\n'

In [26]:
headers = parse_headers(file3_lines[0])

Next, let's define a function `parse_values` that takes a line containing some data and returns a list of floating-point numbers.

In [27]:
def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        values.append(float(item))
    return values


print(file3_lines[1])

print(parse_values(file3_lines[1]))

45230,48,0.07,4300

[45230.0, 48.0, 0.07, 4300.0]

The values were parsed and converted to floating point numbers, as expected. Let's try it for another line from the file, which does not contain a value for the down payment.

In [70]:
file3_lines[2]

'883000,16,0.14,\n'

In [71]:
parse_values(file3_lines[2])

#The code above leads to a `ValueError` because the empty string `''` cannot be converted to a float. 
#We can enhance the `parse_values` function to handle this *edge case*. We will also handle the case where the value is not a float.

[883000.0, 16.0, 0.14, 0.0]

In [29]:
def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

print(file3_lines[2]) 
print(parse_values(file3_lines[2]))

883000,16,0.14,

[883000.0, 16.0, 0.14, 0.0]

Next, let's define a function `create_item_dict` that takes a list of values and a list of headers as inputs and returns a dictionary with the values associated with their respective headers as keys.

In [30]:
def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

Can you figure out what the Python built-in function `zip` does? Try out an example, or [read the documentation](https://docs.python.org/3.3/library/functions.html#zip).

In [31]:
for item in zip([1,2,3], ['a', 'b', 'c']):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [32]:
#Let's try out `create_item_dict` with a couple of examples.
file3_lines[1]

'45230,48,0.07,4300\n'

In [33]:
values1 = parse_values(file3_lines[1])
create_item_dict(values1, headers)

{'amount': 45230.0, 'down_payment': 4300.0, 'duration': 48.0, 'rate': 0.07}

In [34]:
file3_lines[2]

'883000,16,0.14,\n'

In [35]:
values2 = parse_values(file3_lines[2])
create_item_dict(values2, headers)

{'amount': 883000.0, 'down_payment': 0.0, 'duration': 16.0, 'rate': 0.14}

As expected, the values & header are combined to create a dictionary with the appropriate key-value pairs.

We are now ready to put it all together and define the `read_csv` function.

In [36]:
def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

In [37]:
with open('./data/loans2.txt') as file2:
    print(file2.read())

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [38]:
read_csv('./data/loans2.txt')

[{'amount': 828400.0,
  'down_payment': 100000.0,
  'duration': 120.0,
  'rate': 0.11},
 {'amount': 4633400.0, 'down_payment': 0.0, 'duration': 240.0, 'rate': 0.06},
 {'amount': 42900.0, 'down_payment': 8900.0, 'duration': 90.0, 'rate': 0.08},
 {'amount': 983000.0, 'down_payment': 0.0, 'duration': 16.0, 'rate': 0.14},
 {'amount': 15230.0, 'down_payment': 4300.0, 'duration': 48.0, 'rate': 0.07}]

The file is read and converted to a list of dictionaries, as expected. The `read_csv` file is generic enough that it can parse any file in the CSV format, with any number of rows or columns. Here's the full code for `read_csv` along with the helper functions:

In [39]:
def parse_headers(header_line):
    return header_line.strip().split(',')

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

Try to create small, generic, and reusable functions whenever possible. They will likely be useful beyond just the problem at hand and save you significant effort in the future.

In the [previous tutorial](https://jovian.ml/aakashns/python-functions-and-scope), we defined a function to calculate the equal monthly installments for a loan. Here's what it looked like:

In [40]:
import math

def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [41]:
#We can use this function to calculate EMIs for all the loans in a file.
loans2 = read_csv('./data/loans2.txt')
loans2

[{'amount': 828400.0,
  'down_payment': 100000.0,
  'duration': 120.0,
  'rate': 0.11},
 {'amount': 4633400.0, 'down_payment': 0.0, 'duration': 240.0, 'rate': 0.06},
 {'amount': 42900.0, 'down_payment': 8900.0, 'duration': 90.0, 'rate': 0.08},
 {'amount': 983000.0, 'down_payment': 0.0, 'duration': 16.0, 'rate': 0.14},
 {'amount': 15230.0, 'down_payment': 4300.0, 'duration': 48.0, 'rate': 0.07}]

In [42]:
for loan in loans2:
    loan['emi'] = loan_emi(loan['amount'], 
                           loan['duration'], 
                           loan['rate']/12, # the CSV contains yearly rates
                           loan['down_payment'])

loans2

[{'amount': 828400.0,
  'down_payment': 100000.0,
  'duration': 120.0,
  'emi': 10034,
  'rate': 0.11},
 {'amount': 4633400.0,
  'down_payment': 0.0,
  'duration': 240.0,
  'emi': 33196,
  'rate': 0.06},
 {'amount': 42900.0,
  'down_payment': 8900.0,
  'duration': 90.0,
  'emi': 504,
  'rate': 0.08},
 {'amount': 983000.0,
  'down_payment': 0.0,
  'duration': 16.0,
  'emi': 67707,
  'rate': 0.14},
 {'amount': 15230.0,
  'down_payment': 4300.0,
  'duration': 48.0,
  'emi': 262,
  'rate': 0.07}]

You can see that each loan now has a new key `emi`, which provides the EMI for the loan. We can extract this logic into a function so that we can use it for other files too.

In [43]:
def compute_emis(loans):
    for loan in loans:
        loan['emi'] = loan_emi(
            loan['amount'], 
            loan['duration'], 
            loan['rate']/12, # the CSV contains yearly rates
            loan['down_payment'])

## Writing to files

Now that we have performed some processing on the data, it would be good to write the results back to a CSV file. We can create/open a file in `w` mode using `open` and write to it using the `.write` method. The string `format` method will come in handy here.

In [44]:
loans2 = read_csv('./data/loans2.txt')
compute_emis(loans2)
loans2

[{'amount': 828400.0,
  'down_payment': 100000.0,
  'duration': 120.0,
  'emi': 10034,
  'rate': 0.11},
 {'amount': 4633400.0,
  'down_payment': 0.0,
  'duration': 240.0,
  'emi': 33196,
  'rate': 0.06},
 {'amount': 42900.0,
  'down_payment': 8900.0,
  'duration': 90.0,
  'emi': 504,
  'rate': 0.08},
 {'amount': 983000.0,
  'down_payment': 0.0,
  'duration': 16.0,
  'emi': 67707,
  'rate': 0.14},
 {'amount': 15230.0,
  'down_payment': 4300.0,
  'duration': 48.0,
  'emi': 262,
  'rate': 0.07}]

In [45]:
with open('./data/emis2.txt', 'w') as f:
    for loan in loans2:
        f.write('{},{},{},{},{}\n'.format(
            loan['amount'], 
            loan['duration'], 
            loan['rate'], 
            loan['down_payment'], 
            loan['emi']))

In [46]:
#Let's verify that the file was created and written to as expected.
os.listdir('data')

['loans3.txt', 'loans2.txt', 'loans1.txt', 'emis2.txt']

In [47]:
with open('./data/emis2.txt', 'r') as f:
    print(f.read())

828400.0,120.0,0.11,100000.0,10034
4633400.0,240.0,0.06,0.0,33196
42900.0,90.0,0.08,8900.0,504
983000.0,16.0,0.14,0.0,67707
15230.0,48.0,0.07,4300.0,262

Great, looks like the loan details (along with the computed EMIs) were written into the file.

Let's define a generic function `write_csv` which takes a list of dictionaries and writes it to a file in CSV format. We will also include the column headers in the first line.

In [48]:
def write_csv(items, path):
    # Open the file in write mode
    with open(path, 'w') as f:
        # Return if there's nothing to write
        if len(items) == 0:
            return
        
        # Write the headers in the first line
        headers = list(items[0].keys())
        f.write(','.join(headers) + '\n')
        
        # Write one item per line
        for item in items:
            values = []
            for header in headers:
                values.append(str(item.get(header, "")))
            f.write(','.join(values) + "\n")

In [49]:
loans3 = read_csv('./data/loans3.txt')

In [50]:
compute_emis(loans3)

In [51]:
write_csv(loans3, './data/emis3.txt')

In [52]:
with open('./data/emis3.txt', 'r') as f:
    print(f.read())

amount,duration,rate,down_payment,emi
45230.0,48.0,0.07,4300.0,981
883000.0,16.0,0.14,0.0,60819
100000.0,12.0,0.1,0.0,8792
728400.0,120.0,0.12,100000.0,9016
3637400.0,240.0,0.06,0.0,26060
82900.0,90.0,0.07,8900.0,1060
316000.0,16.0,0.13,0.0,21618
15230.0,48.0,0.08,4300.0,267
991360.0,99.0,0.08,0.0,13712
323000.0,27.0,0.09,4720010000.0,-193751447
528400.0,120.0,0.11,100000.0,5902
8633400.0,240.0,0.06,0.0,61853
12900.0,90.0,0.08,8900.0,60

With just four lines of code, we can now read each downloaded file, calculate the EMIs, and write the results back to new files:

In [53]:
for i in range(1,4):
    loans = read_csv('./data/loans{}.txt'.format(i))
    compute_emis(loans)
    write_csv(loans, './data/emis{}.txt'.format(i))

In [54]:
os.listdir('./data')

['emis1.txt',
 'loans3.txt',
 'loans2.txt',
 'loans1.txt',
 'emis2.txt',
 'emis3.txt']

Isn't that wonderful? Once all the functions are defined, we can calculate EMIs for thousands or even millions of loans across many files in seconds with just a few lines of code. Now we're starting to see the real power of using a programming language like Python for processing data!

## Using Pandas to Read and Write CSVs

There are some limitations to the `read_csv` and `write_csv` functions we've defined above:

* The `read_csv` function fails to create a proper dictionary if any of the values in the CSV files contains commas
* The `write_csv` function fails to create a proper CSV if any of the values to be written contains commas

When a value in a CSV file contains a comma (`,`), the value is generally placed within double quotes. Double quotes (`"`) in values are converted into two double quotes (`""`). Here's an example:

```
title,description
Fast & Furious,"A movie, a race, a franchise"
The Dark Knight,"Gotham, the ""Batman"", and the Joker"
Memento,A guy forgets everything every 15 minutes

```

Let's try it out.

In [55]:
movies_url = "https://gist.githubusercontent.com/aakashns/afee0a407d44bbc02321993548021af9/raw/6d7473f0ac4c54aca65fc4b06ed831b8a4840190/movies.csv"

In [56]:
urlretrieve(movies_url, 'data/movies.csv')

('data/movies.csv', <http.client.HTTPMessage at 0x7fb990dc7390>)

In [57]:
movies = read_csv('data/movies.csv')
movies

[{'description': '"A movie', 'title': 'Fast & Furious'},
 {'description': '"Gotham', 'title': 'The Dark Knight'},
 {'description': 'A guy forgets everything every 15 minutes',
  'title': 'Memento'}]

As you can seen above, the movie descriptions weren't parsed properly.

To read this CSV properly, we can use the `pandas` library.

In [58]:
#!pip install pandas --upgrade --quiet

In [59]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [60]:
import pandas as pd
#The `pd.read_csv` function can be used to read the CSV file into a pandas data frame: a spreadsheet-like object for analyzing 
#and processing data. We'll learn more about data frames in a future lesson.

In [61]:
movies_dataframe = pd.read_csv('data/movies.csv')
movies_dataframe

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

In [62]:
#A dataframe can be converted into a list of dictionaries using the `to_dict` method.
movies = movies_dataframe.to_dict('records')
movies

[{'description': 'A movie, a race, a franchise', 'title': 'Fast & Furious'},
 {'description': 'Gotham, the "Batman", and the Joker',
  'title': 'The Dark Knight'},
 {'description': 'A guy forgets everything every 15 minutes',
  'title': 'Memento'}]

In [63]:
#If you don't pass the arguments `records`, you get a dictionary of lists instead.
movies_dict = movies_dataframe.to_dict()
movies_dict

{'description': {0: 'A movie, a race, a franchise',
  1: 'Gotham, the "Batman", and the Joker',
  2: 'A guy forgets everything every 15 minutes'},
 'title': {0: 'Fast & Furious', 1: 'The Dark Knight', 2: 'Memento'}}

In [64]:
#Let's try using the `write_csv` function to write the data in `movies` back to a CSV file.
write_csv(movies, 'movies2.csv')

In [65]:
!head movies2.csv

title,description
Fast & Furious,A movie, a race, a franchise
The Dark Knight,Gotham, the "Batman", and the Joker
Memento,A guy forgets everything every 15 minutes

As you can see above, the CSV file is not formatted properly. This can be verified by attempting to read the file using `pd.read_csv`.

In [66]:
pd.read_csv('movies2.csv')

                                                                   title     description
Fast & Furious  A movie                                           a race     a franchise
The Dark Knight Gotham                                      the "Batman"   and the Joker
Memento         A guy forgets everything every 15 minutes            NaN             NaN

To convert a list of dictionaries into a dataframe, you can use the `pd.DataFrame` constructor.

In [67]:
df2 = pd.DataFrame(movies)
df2

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

In [68]:
#It can now be written to a CSV file using the `.to_csv` method of a dataframe.
df2.to_csv('movies3.csv', index=None)
#Can you guess what the argument `index=None` does? Try removing it and observing the difference in output.

In [69]:
#The CSV file is formatted properly. We can verify this by trying to read it back.
!head movies3.csv

title,description
Fast & Furious,"A movie, a race, a franchise"
The Dark Knight,"Gotham, the ""Batman"", and the Joker"
Memento,A guy forgets everything every 15 minutes